registry=https://registry.npmmirror.com
# Electron 与 electron-builder 二进制使用各工具的官方默认下载源。

# 自动处理依赖相关配置 (pnpm & electron-builder 打包)
shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false
